<!-- <div class="container">
	<h2 id="title"> Burgers</h2>

		<div class="row">	
			<div class="col-sm-4 list-group add">
				<ul class="list-group-item">
					<form action="/add" method="post">
						<input name="burgertoadd" placeholder="">
						</input>
						<button class="add" type="submit">
							Add a burger
						</button>
					</form>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 list-group eaten">
				{{#each data}}
				{{#if this.devoured}}
					<ul class="list-group-item">
						<form action = "/delete/{{this.burger_name}}" method="post">
							<button class = "eaten" type = "submit">Delete {{this.burger_name}}
						</form>
					</ul>
					{{/if}}
					{{/each}}
			</div>
			<div class="col-sm-4 list-group not-eaten">
				{{#each data}}
				{{#if this.devoured}}
					{{else}}
						<ul class="list-group-item">
							<form action="/eat/{{this.burger_name}}" method="post">
								<button class="not-eaten" type="submit">Eat {{this.burger_name}}
								</button>
							</form>
						</ul>
						{{/if}}
							{{/each}}
			</div>
		</div>
</div> -->


<div class="row">
	<div class="container">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				<div class="row">
					<div class="col-sm-6">
						<div class="row">
							<div class="col-sm-4 list-group eaten">
								{{#each data}}
								{{#if this.devoured}}
								<!-- <ul class="list-group-item"> -->
									<form action = "/delete/{{this.burger_name}}" method="post">
										<button class = "btn btn-danger eaten" type = "submit">Delete {{this.burger_name}}
										</button>
									</form>
									<br>
								<!-- </ul> -->
								{{/if}}
								{{/each}}
							</div>
							<div class="col-sm-4"></div>
							<div class="col-sm-4"></div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="row">
							<div class="col-sm-4"></div>
							<div class="col-sm-4"></div>
							<div class="col-sm-4 list-group not-eaten">
								{{#each data}}
								{{#if this.devoured}}
									{{else}}
										<!-- <ul class="list-group-item"> -->
											<form action="/eat/{{this.burger_name}}" method="post">
												<div class="not-eaten text-center" style="background-color:green; color: black">{{this.burger_name}}
													
												</div>
												<button class="not-eaten" type="submit">Devour {{this.burger_name}}
												</button>
											</form>
											<br>
										<!-- </ul> -->
								{{/if}}
								{{/each}}
							</div>
						</div>
					</div>
			</div>
			<div class="col-sm-1"></div>
		</div>

		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<form action="/add" method="post">
				
						<!-- <button type="button" class="add btn-lg btn-primary" type="submit">
							Add a burger
						</button>
						<input name="burgertoadd" placeholder="">
						</input> -->
						<div class="input-group">
      						<input type="text" name="burgertoadd" class="form-control" placeholder="Burger Name">
      						<span class="input-group-btn">
        					<button class="btn btn-primary add" type="submit">Add Burger</button>
      						</span>
    					</div>
				</form>
			</div>
			<div class="col-sm-4"></div>
		</div>

	</div>
	
</div>